[submodule "DirectXShaderCompiler"]
	path = DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler
    branch = release-1.5.2003.1
[submodule "DirectXVideoScreen"]
	path = DirectXVideoScreen
	url = https://github.com/mofo7777/DirectXVideoScreen

